body {
  background: var(--n-doc-neutral);
  color: var(--n-color-neutral-950);
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  color: var(--n-ink-strong-neutral);
}
