@layer ui {

  :where(n-avatar):not(:defined) { visibility: hidden; }

  /* ── Avatar Base ── */

  :where(n-avatar) {
    --n-font-weight: var(--n-button-font-weight);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: var(--n-size);
    height: var(--n-size);

    font-size: calc(var(--n-font-size) * 0.875);
    font-weight: var(--n-font-weight);
    line-height: 1;
    letter-spacing: var(--n-letter-spacing);

    border-radius: var(--n-radius);
    overflow: hidden;

    background: var(--n-surface);
    color: var(--n-surface-ink);

    flex-shrink: 0;
    user-select: none;
  }

  /* ── Image ── */

  :where(n-avatar) > :where(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  /* ── Fallback icon ── */

  :where(n-avatar) > :where(n-icon) {
    font-size: calc(var(--n-font-size) * 1.125);
  }

  :where(n-avatar[hidden]) { display: none; }

}
